.app-add-form {
    margin-top: 30px;
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
    color: #fff;
}

.add-form {
    display: flex;
    margin-top: 20px;

    @media screen and (max-width: 575px) {
        flex-direction: column;
        gap: 15px;
    }
    input {
        width: 100%;
        @media screen and (min-width: 575px) {
            max-width: 350px;
            margin-right: 20px;
        }
    }
}
